li {
    list-style-type: none;
    padding-bottom: 12px;
    font-size: 18px;
    
}

h4, li {
    font-family: 'Tajawal', sans-serif;
}

.box {
    width: 70vw;
    margin: 0 0 0 20px;
}

ul {
    border: 1px solid black;
    margin-left: 400px;
    padding-left: 0;

}

h4 {
    margin: 0;
    margin-top: 27px;
}