.App {
  text-align: center;
  font-size: 36px;
  margin: 0;
  margin-bottom: 12px;
}

button {
  font-size: 26px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: 'Tajawal', sans-serif;
}

h1 {
  font-family: 'Faster One', cursive;
  margin: 30px, 0, 14px, 0;
}

